@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-normal {
    font-family: "Work Sans", serif;
    margin: 0;
    font-style: normal;
}


/* shared */
.body {
    margin: 0;
    padding: 0;
}


h1 {
    font-size: 42px;
}

h2 {
    font-size: 35px;
}

h4 {
    font-size: 30px;
}

h5 {
    font-size: 25px;
}

h6 {
    font-size: 20px;
}

.paragraph {
    font-size: 18px;
}


.btn-primary {
    padding: 15px 30px;
    border: none;
    border-radius: 12px;
    background: rgb(254, 163, 1);
    color: rgb(255, 255, 255);
    font-weight: 700;
}


.black-btn {
    padding: 15px 30px;
    border: none;
    border-radius: 12px;
    background: rgb(254, 163, 1);
    color: rgb(255, 255, 255);
    font-weight: 700;
    background-color: rgb(17, 17, 17);
}

.stories h5 {
    margin-top: 0;
}

.stories h6 {
    margin-top: 0;
}

.side-btn-1 {
    border: none;
    border-radius: 45px;
    background-color: rgb(60, 216, 232);
    padding: 10px 8px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    position: relative;
    bottom: 22px;
    right: 40px;

}

.green {
    background-color: rgb(149, 178, 38);
}

.purple {
    background-color: rgb(93, 88, 240);
}

/* marquee */
marquee {
    height: 30px;
    width: 100%;
    padding: 5px;
    direction: left;
    color: rgb(255, 255, 255);
    font-size: 20px;
    background-color: rgb(254, 163, 1);


}

/* navbar */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin: auto 100px;


}


.logo {
    display: flex;


}


.logo img {
    margin-top: 27px;
}


.menu ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;


}


li {
    list-style: none;
}


a {
    text-decoration: none;
    font-size: 18px;
    color: rgb(255, 255, 255);
}


.home {
    color: rgb(254, 163, 1);
}


.about {
    color: rgb(1, 172, 253);
}


.facilities {
    color: rgb(5, 212, 223);
}


.admission {
    color: rgb(93, 88, 239);
}


.icon {
    display: none;
}


.nav-underline {
    display: none;
}


/* banner */
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 100px;
    gap: 20px;


}


.empower {
    color: rgb(254, 163, 1);
}


.vision {
    color: rgb(1, 172, 253);
}


/* curriculum */
.curriculum {

    margin-top: 100px;
    margin-bottom: 100px;
    background-image: url(../assets/bg.png);
    background-position-x: -50px;
    background-size: contain;
    text-align: center;
}


.cards {
    display: flex;
    justify-content: space-between;
    margin: auto 100px;
}


.card {
    width: 350px;
    height: 380px;
    text-align: center;
    padding: 10px 20px;
    box-sizing: border-box;
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 18.86px;
    text-align: center;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.card-2 {

    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(255, 244, 220), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.card-3 {
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(238, 225, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.card-para1 {
    color: rgb(100, 200, 255);
}

.card-para2 {
    color: rgb(240, 170, 0);
}

.card-para3 {
    color: rgb(135, 0, 255);
}

.slide-icon {

    border-radius: 30px;
    background: rgb(254, 163, 1);
    padding: 10px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin: 5px;
}

/* stories */
.stories {
    background-image: url(../assets/bg.png), linear-gradient(0.00deg, rgba(254, 163, 1, 0.3), rgba(255, 255, 255, 0.3) 100%);
    background-position-x: -50px;
    background-size: contain;
    text-align: center;
}

.stories-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
    margin: auto 150px;
}

.main-card {
    height: 600px;
    width: 500px;
    border-radius: 19px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(178, 190, 181);
}

.main-card-img img {
    width: 500px;
    height: 300px;
    border-radius: 19px 19px 0 0;
}

.stories-btn-1 {
    border: none;
    border-radius: 45px;
    background-color: rgb(60, 216, 232);
    padding: 10px 8px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    position: relative;
    bottom: 22px;
    right: 150px;

}

.main-card-description {
    text-align: left;
    padding: 15px;
}

.side-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;

}

.side-card {
    height: 280px;
    width: 260px;
    border: 1px solid rgb(178, 190, 181);
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
}

.side-card-img {
    margin-bottom: 0;

}

.side-card-img img {
    width: 260px;
    height: 150px;
    border-radius: 15px 15px 0 0;
}



.hide {
    display: none;
}

.side-card-description {
    margin: 0;
    padding: 2px;
}

.view-all {
    margin-top: 20px;
    margin-bottom: 70px;
}

/* footer */
.bottom-part {
    display: flex;
    justify-content: space-around;
    background-color: rgb(1, 172, 253);
    color: rgb(255, 255, 255);
    padding: 50px 30px;

}

.footer-logo h4 {
    margin: 0;
}

.footer-description {
    width: 350px;

}

.footer-logo {
    display: flex;
    width: 150px;
    margin-top: 40px;
}

@media screen and (max-width:576px) {
    .body {
        margin: 0;
        padding: 0;
        width: 450px
    }


    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
        margin: auto 18px;


    }


    .logo h4 {
        display: none;
    }


    .menu {
        display: none;
    }


    .btn-primary {
        display: none;
    }


    .icon {


        display: block;
        margin-top: 30px;


    }

    .nav-underline {
        display: block;
        box-sizing: border-box;
        border: 0.5px solid rgb(254, 163, 1);
    }

    /* marquee */
    marquee {
        width: 97%;
    }

    /* banner */
    .banner {
        flex-direction: column-reverse;
        margin: auto 20px;
        text-align: center;


    }


    .banner-img img {
        width: 100%;
    }

    /* curriculum */
    .curriculum {
        max-width: 425PX;
        margin: 1px;
        margin-top: 100px;
        margin-bottom: 100px;

    }

    .cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card {
        width: 280px;
        height: 400px;
        text-align: center;
        margin-top: 20px;
        box-sizing: border-box;
        border: 0.94px solid rgb(222, 245, 255);
        border-radius: 18.86px;
        text-align: center;
        box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
        background: linear-gradient(180.00deg, rgb(222, 245, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
    }

    .card-2 {

        box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
        background: linear-gradient(180.00deg, rgb(255, 244, 220), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
    }

    .card-3 {
        box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
        background: linear-gradient(180.00deg, rgb(238, 225, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
    }


    .next-slide {
        display: none;
    }

    /* stories */
    .stories-cards {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .stories {
        max-width: 450px;
    }

    .side-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .hide {
        display: block;
    }

    .side-card {
        height: 220px;
        width: 150px;

    }

    .side-card-img img {
        width: 150px;
        height: 105px;
    }

    .side-card-description h6 {
        font-size: 14px;
    }

    .side-btn-1 {
        border: none;
        border-radius: 45px;
        background-color: rgb(60, 216, 232);
        padding: 10px 8px;
        font-weight: 700;
        color: rgb(255, 255, 255);
        position: relative;
        bottom: 22px;
        left: 1px;

    }

    .green {
        background-color: rgb(149, 178, 38);
    }

    .purple {
        background-color: rgb(93, 88, 240);
    }

    .main-card {
        display: none;
    }

    .view-all {
        margin-bottom: 50px;
    }

    /* footer */

    .bottom-part {
        display: flex;
        flex-direction: column;
        max-width: 450px;
    }

    .footer-left {
        margin-right: 30px;
    }

    .footer-description {
        width: 300px;


    }

    .footer-logo {
        display: flex;
        width: 100px;
        text-align: left;
    }


}