@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-normal {
    font-family: "Work Sans", serif;
    margin: 0;
    font-style: normal;
}


/* shared */
.body {
    margin: 0;
    padding: 0;
}


h1 {
    font-size: 42px;
}


h4 {
    font-size: 30px;
}


.paragraph {
    font-size: 18px;
}


.btn-primary {
    padding: 15px 30px;
    border: none;
    border-radius: 12px;
    background: rgb(254, 163, 1);
    color: rgb(255, 255, 255);
    font-weight: 700;
}


.black-btn {
    padding: 15px 30px;
    border: none;
    border-radius: 12px;
    background: rgb(254, 163, 1);
    color: rgb(255, 255, 255);
    font-weight: 700;
    background-color: rgb(17, 17, 17);
}




/* navbar */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin: auto 200px;


}


.logo {
    display: flex;


}


.logo img {
    margin-top: 27px;
}


.menu ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;


}


li {
    list-style: none;
}


a {
    text-decoration: none;
    font-size: 18px;
}


.home {
    color: rgb(254, 163, 1);
}


.about {
    color: rgb(1, 172, 253);
}


.facilities {
    color: rgb(5, 212, 223);
}


.admission {
    color: rgb(93, 88, 239);
}


.icon {
    display: none;
}


.nav-underline {
    display: none;
}


/* banner */
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 200px;
    gap: 20px;


}


.empower {
    color: rgb(254, 163, 1);
}


.vision {
    color: rgb(1, 172, 253);
}


/* curriculum */
.curriculum {

    margin-top: 50px;
    background-image: url(../assets/bg.png);
    background-position-x: -50px;
    background-size: contain;
    text-align: center;
}


.cards {
    display: flex;
    justify-content: space-between;
    margin: auto 200px;
}


.card {
    width: 350px;
    height: 380px;
    text-align: center;
    padding: 10px 20px;
    box-sizing: border-box;
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 18.86px;
    text-align: center;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.slide-icon {

    border-radius: 30px;
    background: rgb(254, 163, 1);
    padding: 10px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin: 5px;
}

/* footer */
.logo-title {
    display: flex;
}

@media screen and (max-width:576px) {
    .body {
        margin: 0;
        padding: 0;
        width: 400px
    }


    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
        margin: auto 20px;


    }


    .logo h4 {
        display: none;
    }


    .menu {
        display: none;
    }


    .btn-primary {
        display: none;
    }


    .icon {


        display: block;
        margin-top: 30px;


    }


    .nav-underline {
        display: block;
        box-sizing: border-box;
        border: 0.5px solid rgb(254, 163, 1);
    }


    /* banner */
    .banner {
        flex-direction: column-reverse;
        margin: auto 20px;
        text-align: center;


    }


    .banner-img img {
        width: 100%;
    }

    /* curriculum */
    .curriculum {
        width: 400PX;
        margin: auto 20px;

    }

    .cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card {
        width: 320px;
        height: 380px;
        text-align: center;
        margin-top: 20px;
        margin-right: 15PX;
        margin-left: 15px;
        padding: 10px 20px;
        box-sizing: border-box;
        border: 0.94px solid rgb(222, 245, 255);
        border-radius: 18.86px;
        text-align: center;
        box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
        background: linear-gradient(180.00deg, rgb(222, 245, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
    }

    .next-slide {
        display: none;
    }



}